{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "prettier/prettier": [
    "error",
    {
      "singleQuote": false,
      "parser": "flow"
    }
  ]
}